body{
    background-color: #f2f2f2;
    width: 70%;
    margin: 0 auto;
    scroll-behavior: smooth;
}
ul{
    padding: 0;
}
p , h1 , h2{
    margin: 0;
    color: black;
}
header{
    height: calc(100vh - 85px);
}
nav{
    position: fixed;
    top: 0;
    width: calc(70% - 10px);
    background-color: white;
    height: 35px;
    align-items: center;
    font-size: 18px;
    margin: 20px 0;
    padding: 0 10px;
    border-radius: 6px;
    box-shadow:  0 0 5px 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.nav_menu_icon{
    display: none;
}
.nav_menu_icon i{
    cursor: pointer;
}
span{
    color: #d49a74;
}
nav ul , .social-media ul{
    display: flex;
    padding: 0;
}
nav ul li , .social-media ul li{
    display: block;
    margin: 0 10px;

}
nav ul li a{
    text-decoration: none;
}
nav ul li a p:hover{
    color: #d49a74;
}
.open_menu_none{
    display: none;
}
.open_menu{
    display: block;
    position: fixed;
    top: 65px;
    background-color: #f2f2f2;
    z-index: 100;
    width: calc(90% - 20px);
    padding: 10px;
    box-shadow: 0px 5px 10px 0px
}
.open_menu ul{
    display: block;
    margin: 0;
    padding: 0;
}
.open_menu ul li{
    display: flex;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.open_menu ul li:hover{
    background-color: #d49a74;
}
.open_menu ul .active{
    background-color: #d49a74;
}
.open_menu ul li a{
    width: 100%;
    text-decoration: none;
}
.open_menu ul li i{
    margin: 0 10px ;
    align-content: center;
    font-size: 22px;
}
.img{
    margin-top: 85px;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.img div{
    align-content: center;
}
.img_profile{
    width: 50%;
}
.btn{
    padding: 6px 8px;
    border: none;
    border-radius: 8px;
    background-color: #d49a74;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.social-media i{
    font-size: 24px;
    cursor: pointer;
}
.btn:hover , .social-media i:hover , .contact_me_btn button:hover{
    transform: scale(1.2);
}
.img div p{
    margin: 10px 0;
}
.img div img{
    width: 100%;
    height: 100%;
}

.scroll{
    direction: rtl;
    position: fixed;
    z-index: 100;
    bottom: 5px;
    left: 40px;
}
.scroll button{
    border-radius: 50%;
    padding: 5px;
    background-color: #d49a74;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.about-me{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.about_me_p{
    margin: 10px 0;
}
.about_me_img{
    opacity: 0;
    /* transform: translateX(-100%); */
    transition: transform 1.5s ease , opacity 1.5s ease;
}
.about_me_img.active{
     opacity: 1;
     transform: translateX(0);
}
.about_me_text{
    opacity: 0;
    /* transform: translateX(100%); */
    transition: transform 1.5s ease , opacity 1.5s ease;
}
.about_me_text.active{
     opacity: 1;
     transform: translateX(0);
}

.about-me div{
    width: 50%;
    align-content: center;
}
.about-me div h1{
    color: #d49a74;
}
.about-me div img{
    width: 75%;
    height: 100%;
}
.Services{
    padding-top: 45px;
}
.Services ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Services ul li{
    display: block;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0;
    width: 300px;
    /* background-color: white; */
    background: linear-gradient( to top , transparent 50% , #d49a74 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}
.Services ul li:hover{
    background-position:top;
}
.Services ul li img{
    height: 80px;
    width: 80px;
}
.Services ul li h2{
    margin: 10px;
}
.my_work{
    padding-top: 45px;
}
.my_Services_menu,.my_work_menu , .my_skils_menu{
    text-align: center;
    margin: 20px 0;
}
.my_work_view{
    display: flex;
    margin: 30px 0;
}
.my_work_view div{
    width: 50%;
    height: 210px;
    margin: 0 10px;
}
.my_work_view div h3 , .my_work_view2 div h3{
    color: #d49a74;
    margin: 0;
}
.my_work_view div h1{
    margin-bottom: 5px;
}
.my_work_view_img img{
    width: 90%;
    height: 100%;
    border-radius: 8px;
}
.my_work_view2{
    display: none;
    width: 90%;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    justify-self: center;
    box-shadow: 0px 1px 5px 0px;

}
.my_work_view_img2{
    margin: -20px;
    margin-bottom: 10px;
}
.my_work_view_img2 img{
       width: 100%;
    height: 270px;
    border-radius: 12px 12px 0 0;

}
.my_skils{
    padding-top: 45px;
}
.my_skils_icon ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.my_skils_icon ul li{
    display: block;
    width: 150px;
    height: 200px;
    text-align: center;
    cursor: pointer;
}
.my_skils_icon ul li:hover{
    transform: scale(1.1);
}
.my_skils_icon div img{
    width: 100%;
    height: 150px;
}

.contact_me{
    padding-top: 50px;
}
.contact_me h1 , .contact_me h3{
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.contact_me_card{
    width: 100%;
    border: none;
    border-radius: 8px;
    margin: auto;
    padding: 20px 10px;
    background-color: white;
}
.contact_me_input{
    display: flex;
}
.contact_me_input div{
    width: 50%;
}
.contact_me_input div input{
    width: 90%;
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    margin: 5px 0;
    background-color: #f2f2f2;
}
.contact_me_textarea textarea{
    width: 95%;
    height: 100px;
    border-radius: 8px;
    border: none;
    padding: 6px 8px;
    margin: 5px 0;
    background-color: #f2f2f2;
}
.contact_me_btn{
    width: 80%;
    margin: auto;
}
.contact_me_btn button{
    width: 100%;
    background-color: #d49a74;
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}
.no_error{
    display: none;
}
.error{
    display: block;
    color: red;
    margin-bottom:10px ;
}

.down_bar{
    margin: 30px;
    text-align: center;
}
.down_bar span i{
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;  
}


@media(max-width:1024px){
    body{
        width: 80%;
    }
    nav{
        width: calc(80% - 10px);
    }
    .img_profile{
        width: 55%;
    }
}
@media(max-width:890px){
    body{
        width: 90%;
    }
    nav{
        width: calc(90% - 20px);
    }
}
@media(max-width:768px){
    /* body{
        width: 80%;
    }
    nav{
        width: calc(80% - 10px);
    } */
    .nav_menu , .nav_btn{
        display: none;
    }
    .nav_menu_icon{
        display: block;
    }
    .img{
        display: block;
        justify-items: center;
        text-align: center;
    }
    .img_profile{
        width: 70%;
        height: 65%
    }
    .img div img{
        width: 70%;
    }
   .about_me_img.active{
        display: none;
    }
    .social-media{
        justify-items: center;
    }
    .about-me div{
        width: 100%;
        text-align: center;
    }
    .my_work_view{
        display: none;
    }
    .my_work_view2{
        display: block;
    }
    .Services ul li{
        width: 400px;
    }
    .contact_me_card{
        width: 90%;
    }
}


@media(max-width:568px){
    .img_profile{
        width: 60%;
    }
    .img div img{
        width: 100%;
    }
}
@media(max-width:428px){
    .img_profile{
        width: 80%;
    }
    .contact_me_input{
        display: block;
    }
    .contact_me_input div{
        width: 100%;
    }
}
@media(max-width:318px){
    .img_profile{
        width: 100%;
    }
    .img div img{
        height: 80%;
        padding-bottom: 20%;
    }

}